@font-face{
	font-family:dutchandharley;
	src:url('fonts/Fonts/dutch_harley/Dutch & Harley.ttf');
}

@font-face{
	font-family:windsong;
	src:url('fonts/Fonts/Windsong/Windsong_extreme.ttf');
}

@font-face{
	font-family:eraser;
	src:url('fonts/Fonts/Eraser/EraserRegular.ttf');
}

@font-face{
	font-family:scriptina;
	src:url('fonts/Fonts/Scriptina/scriptina.ttf');
}

@font-face{
	font-family:learningcurve;
	src:url('fonts/Fonts/Learning-Curve-Pro/LearningCurve_OT.otf');
}

@font-face{
	font-family:ffftusj;
	src:url('fonts/Fonts/FFF-Tusj/FFF_Tusj.ttf');
}

@font-face{
	font-family:grutchshaded;
	src:url('fonts/Fonts/GrutchShaded/GrutchShaded.ttf');
}

@font-face{
	font-family:eastwood;
	src:url('fonts/Fonts/Eastwood/Eastwood.ttf');
}

@font-face{
	font-family:daniel;
	src:url('fonts/Fonts/Daniel/daniel.ttf');
}

@font-face{
	font-family:cursive;
	src:url('fonts/Fonts/cursive_standard/Cursive standard.ttf');
}

@font-face{
	font-family:aquiline;
	src:url('fonts/Fonts/Aquiline/Aquiline.ttf');
}

@font-face{
	font-family:aquiline2;
	src:url('fonts/Fonts/Aquiline/AquilineTwo.ttf');
}

@font-face{
	font-family:jennasue;
	src:url('fonts/Fonts/Jennasue/JennaSue.ttf');
}

@font-face{
	font-family:kgtenthousandreasons;
	src:url('fonts/Fonts/kg_ten_thousand_reasons/KGTenThousandReasons.ttf');
}

@font-face{
	font-family:ostrichregular;
	src:url('fonts/Fonts/ostrich-sans/ostrich-regular.ttf');
}

@font-face{
	font-family:ostrichlight;
	src:url('fonts/Fonts/ostrich-sans/ostrich-light.ttf');
}

@font-face{
	font-family:aaargh;
	src:url('fonts/Fonts/Aaargh/Aaargh.ttf');
}

@font-face{
	font-family:cartoonisthand;
	src:url('fonts/Fonts/SF-Cartoonist-Hand/SF_Cartoonist_Hand.ttf');
}

@font-face{
	font-family:colaborate;
	src:url('fonts/Fonts/Colaborate/ColabLig.otf');
}

@font-face{
	font-family:saras;
	src:url('fonts/Fonts/sharada/sharada.ttf');
}

@font-face{
	font-family:printclearly;
	src:url('fonts/Fonts/Print-Clearly/PrintClearly.otf');
}

@font-face{
	font-family:printclearly;
	src:url('fonts/Fonts/Print-Clearly/PrintClearly.otf');
}

@font-face{
	font-family:seasideresort;
	src:url('fonts/Fonts/SeasideResort/SeasideResort.ttf');
}

@font-face{
	font-family:alwaysforever;
	src:url('fonts/Fonts/always_forever/always forever.ttf');
}

@font-face{
	font-family:madameklara;
	src:url('fonts/Fonts/MadameKlara/MadameKlara.ttf');
}

@font-face{
	font-family:flexdisplay;
	src:url('fonts/Fonts/flexdisplay/FlexDisplay-Thin.otf');
}

@font-face{
	font-family:channel;
	src:url('fonts/Fonts/channel/Channel.ttf');
}

@font-face{
	font-family:dinerregular;
	src:url('fonts/Fonts/Diner-Skinny/Diner-Regular.ttf');
}

@font-face{
	font-family:savu;
	src:url('fonts/Fonts/savu/savu.otf');
}

@font-face{
	font-family:goudybookletter;
	src:url('fonts/Fonts/Goudy-Bookletter-1911/goudy_bookletter_1911.otf');
}

@font-face{
	font-family:santana;
	src:url('fonts/Fonts/Santana/Santana.ttf');
}
